@import './var.less';
@import './mixins.less';
* {
  margin: 0;
  padding: 0;
}
html,body {
  width: 100%;
  height: 100%;
}


@switch: dark;
section {
  .flex();
  div {
    .flex();
    #size();
    .link();
    .theme(@switch, #888);
  }
}

.info {
  #library.info() !important;
  color: red;
  .text();
  .box-shadow1(#ccc, 0, 0, 15px,#000);
}